<h1>Listing bilders</h1>

<table>
  <tr>
    <th>Catalog</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bilders.each do |bilder| %>
  <tr>
    <td><%= bilder.catalog_id %></td>
    <td><%= bilder.name %></td>
    <td><%= link_to 'Show', bilder %></td>
    <td><%= link_to 'Edit', edit_bilder_path(bilder) %></td>
    <td><%= link_to 'Destroy', bilder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bilder', new_bilder_path %>
